# Node
node_modules/
npm-debug.log
package-lock.json

#env files
.env

# Keys
backend/sm2_keys.json

# Build
frontend/dist
frontend/node_modules/

# Uploads
backend/tmp_uploads/
backend/uploads/


ml/venv/
ml/.env/
ml/data/
ml/models/
ml/src/catboost_info
