services:
  mongo:
    image: arm64v8/mongo:4.4.18
    restart: unless-stopped
    volumes:
      - mongo_data:/data/db
  backend:
    build:
      context: ./backend
    env_file:
      - ./backend/.env
    depends_on:
      - mongo
    volumes:
      - ./backend/uploads:/app/uploads #- /media/sus/MyHDD/sus-cloud-files:/app/uploads
    ports:
      - "5050:5050"
    restart: unless-stopped
  frontend:
    build:
      context: ./frontend
    depends_on:
      - backend
    ports:
      - "5173:80"
    restart: unless-stopped
volumes:
  mongo_data: